<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div>
                <h1>About us</h1>
            </div>
            <div style="text-align: center;">
                <div class="imgcontainer" >
                    <img src="cto.png" />
                </div>
                <div class="message">
                    <p>Gabriel -- Serious.inc CTO</p>
                    <p>Message: Our mission is "Make the world more secure".</p>
                </div>
                <div class="imgcontainer">
                    <img src="engineer.png" />
                </div>
                <div class="message">
                    <p>Edward -- Serious.inc Security Engineer</p>
                    <p>Message: I graduated from super-super-intelligent-university.</br>
                        You don't have to be afraid of cybersecurity threat.</br>
                        why? because I'm far smarter than attakcers.</br>
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>