<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div>
                <h1>News</h1>
            </div>
            <ul>
                <li><a href="/news/data-breach">【IMPORTANT】Data Breach on last November</a></li>
                <li><a href="#">Serious.inc will go public on NASDAQ!!</a></li>
                <li><a href="#">New Year Message from Serious.inc CTO</a></li>
            </ul>
        </main>
    </body>
</html>