<!DOCTYPE html>
<html>
    <head>
        <%- include('../../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../../partials/header'); %>
        </header>
        <main>
            <div>
                <h1>Data Breach on last November</h1>
            </div>
            <div>
                <p>
                    Dear our customers,</br></br>

                    Last November we confirmed that an attacker had broken our system and caused a data breach.</br></br>
                    We triaged this as critical security incident and still investigating with FBI.</br></br>
                    
                    The main reason why they were able to compromise our service is still not clear.</br></br>

                    We will update and notify all information as fast as possible.</br></br>

                    Serious.inc CTO Gabriel</br>
                </p>
            </div>

        </main>
    </body>
</html>